//variables
//colors
$white-color: #FFFFFF;
$gray-color:#E6E6E6;
$gray-text-color: #303030;
$orange-color: #E27D60;
$orange-light-color: #E8A87C;

//fonts
$libre-frankilin: 'Libre Franklin', sans-serif;
$Work-sans: 'Work Sans', sans-serif;


//global
@mixin font-style($font-family, $font-weight, $font-size, $color){
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
}

.gray-text {
    @include font-style($Work-sans, 300, 16px, $gray-text-color);
    line-height: 19px;
}

.h3-orange-style {
    @include font-style($libre-frankilin, 700, 36px, $orange-color);
}

.normal-text {
    @include font-style($Work-sans, 400, 18px, $gray-text-color);
}

.one-col.carousel {
    text-align: center;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

//Our reviews styles
.our_reviws {
    background-color: $gray-color;

    .our_reviews_wrapper {
        width: 1170px;
        margin: 0 auto;
        padding: 100px 0;

        .two-col {
            display: flex;
            padding-bottom: 60px;

            .two-col_left {
                text-align: right;
                max-width: 570px;
                margin-right: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .gray-text,
                .h3-orange-style {
                    margin: 0;
                }
            }
        }

        .three-col {
            margin-bottom: 30px;

            .our_reviws-article {
                display: inline-block;
                &>p {
                    @include font-style($Work-sans, 400, 14px, $gray-text-color);
                    background-color: $white-color;
                    border-radius: 3px;
                    border: 2px solid $gray-color;
                    line-height: 16px;
                    margin: 0;
                    margin-bottom: 10px;
                    max-width: 370px;
                    padding: 30px;
                }

                .person {
                    display: flex;

                    img {
                        height: 50px;
                        margin-right: 20px;
                        width: 50px;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h6,
                        p {
                            margin: 0;
                        }

                        h6 {
                            @include font-style($libre-frankilin, 700, 14px, $orange-color);
                            line-height: 17px;
                        }

                        p {
                            @include font-style($Work-sans, 400, 12px, $gray-text-color);
                            line-height: 14px;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
}

//shop section styles
.shop_section {
    max-width: 1170px;
    margin: 0 auto;
    padding: 100px 0;

    .shop_section-text {
        text-align: center;
        margin-bottom: 40px;

        .gray-text,
        .h3-orange-style,
        .normal-text-gray {
            margin: 0;
        }

        .h3-orange-style {
            margin-bottom: 20px;
        }

        .normal-text-gray {
            @include font-style($Work-sans, 400, 18px, $gray-text-color);
            line-height: 21px;
            margin: 0 auto;
            max-width: 830px;
            opacity: 0.5;
        }
    }

    .shop_section-articles {
        display: flex;
        gap: 30px;
        margin-bottom: 40px;

        .product {
            max-width: 270px;

            .product-user-options {
                background-color: $white-color;
                border-radius: 3px;
                border: 2px solid  rgba(48, 48, 48, 0.2);
                display: flex;
                justify-content: center;
                margin: 0 auto;
                max-width: 120px;
                position: relative;
                top: -20px;

                button {
                    border: none;
                    background-color: transparent;
                    padding: 7px 0;

                    img {
                        width: 20px;
                        height: auto;
                    }

                    &:first-child {
                        margin-right: 16px;
                    }
                }
            }

            .product-details {
                p {
                    @include font-style($Work-sans, 400, 10px, $gray-text-color);
                    line-height: 12px;
                    opacity: 0.5;
                    margin: 0;
                    margin-bottom: 10px;
                }

                h4 {
                    @include font-style($libre-frankilin, 700, 20px, $gray-text-color);
                    line-height: 24px;
                    margin: 0;
                    margin-bottom: 10px;
                }

                h5 {
                    @include font-style($libre-frankilin, 700, 16px, $orange-color);
                    line-height: 19px;
                    margin: 0;
                }
            }


        }
    }
}


//logos section styles
.logos-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

    img {
        height: auto;
        width: 164px;
    }
}

//article page styles
.article-banner{
    width: 1545px;
    height: 144px;
    background: #E6E6E6;
    opacity: 0.5;
}
.article-content-2col{
    display: flex;
    gap: 30px;
}
.article-content-2col-img{
    width: 670px;
    height: 370px;
    border-radius: 3px 3px 0px 0px;
}
.article-content-2col-text{
    font-weight: 400;
    font-family: 'Work Sans';
    font-size: 18px;
    line-height: 21px;
    color: #303030;
}
.article-content-1col {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #303030;
    margin-bottom: 30px;
}
.article-content-2imgs img {
    width: 384px;
    height: 360px;
}
.article-content-article-text{
    box-sizing: border-box;
    width: 770px;
    height: 155px;
    background: #E8A87C;
    opacity: 0.2;
    border: 2px solid #E6E6E6;
    padding: 30px 100px;
    margin: 10px;
}
.article-content-article-info{
    display: flex;
}
.article-content-article-info img{
    width: 50px;
    height: 50px;
}
.article-content-article-info-user{
    font-family: 'Libre Franklin';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #E27D60;
}