.frank-bold-36 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.libre-bold-20 {
  color: #303030;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  font-weight: 700;

  span {
    color: #e27d60;
  }
}

.sans-reg {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.sans-regular-18 {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.sans-light-16 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}


.work-reg-12 {
  color: #303030;
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 36px;
}