.footer-general {
  margin-top: 100px;
  background-image: url(../images/backFooter.png);
  min-height: 275px;
  display: flex;
  position: relative;
}

.footer-container1 {
  position: absolute;
  left: 388px;
  top: 23px;

  p {
    width: 99px;
    height: 19px;
    font-family: 'Work Sans';
    font-weight: 300;
    font-size: 16px;
    color: $fontFourth-color ;
  }

  h2 {
    font-family: 'Libre Franklin';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: $fontFourth-color ;
  }

  .footer__description {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 18px;
    color: $fontFourth-color;
    width: 369px;
  }


  .footer__description--different {
    color: $fontSecond-color ;
  }

}

form {
  position: relative;

  .footer__space {
    width: 570px;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #E6E6E6;
    border-radius: 3px;
    position: absolute;
    left: 806px;
    top: 116px
  }

  .button--right {
    position: relative;
    left: 1446px;
    top: 122px;
  }
}


.footer-container2 {
  position: relative;
  background-color: $fontThirdt-color;
  min-height: 326px;

  .footer-container2__img {
    position: absolute;
    left: 281px;
    top: 123px;
  }

  .footer-container2__icons {
    position: absolute;
    left: 465px;
    top: 125px;

    img {
      margin-right: 8px;
    }
  }

  .footer-common {

    h6 {
      margin-top: 60px;
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      color: $fontSecond-color ;
    }

    .footer-info__ul {
      list-style: none;
      padding: 0
    }

    li {
      margin-bottom: 23px;

      a {
        text-decoration: none;
        font-family: 'Libre Franklin';
        font-weight: 700;
        font-size: 14px;
        color: #fff;
      }
    }

  }

  .footer-info1 {
    position: absolute;
    left: 758px;
  }

  .footer-info2 {
    position: absolute;
    left: 1042px;
  }

  .footer-info3 {
    position: absolute;
    left: 1295px;

    .footer-info3--img {
      padding-right: 10px;
    }

  }

  .footer-info4 {
    display: flex;
    gap: 1031px;

    p {
      position: relative;
      left: 263px;
      top: 280px;
      opacity: 0.5;
    }
  }

  .footer-info4--right {
    position: relative;
    right: 1293px;
    top: 280px;
    opacity: 0.5;
  }

  .footer-info4--right {
    position: relative;
    left: 1293px;
    top: 280px;
    opacity: 0.5;
  }

}