.healthy {
  width: 1260px;
  height: 691px;
  margin-top: 100px;
}

.healthy--text{
  display: flex;
  flex-direction: column;
}


.textHealthy{
  position: relative;
  top: -272px;
  left: 27px;
}

.healthy-life h4 {
  position: absolute;
  top: 420px;
  left: 690px;
}

.healthy-life h2 {
  position: absolute;
  top: 447px;
  left: 410px;
}

.healthy-life p {
  position: absolute;
  top: 543px;
  left: 400px;
}

.healthy-life ul {
  position: absolute;
  top: 728px;
  left: 600px;
}

.positionImages{
  position: relative;
  top: -271px;
  left: -7px; ;
}

.primerimg {
  position: absolute;
  top: 350px;
  left: 984px;
  width: 284px;
  height: 284px;
}

.segundaimg {
  position: absolute;
  top: 350px;
  left: 1270px;
  width: 284px;
  height: 284px;
}

.terceraimg {
  position: absolute;
  top: 635px;
  left: 985px;
  width: 570px;
  height: 244px;
}