.masters {
  margin: 100px 375px;

  p {
    margin: 0;
    font-size: 18px;
    color: #303030;
  }
}

.masters--text {
  text-align: center;
  margin: 40px 179px;

  h2 {
    color: #e27d60;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  h4 {
    margin-top: 100px;
    margin-bottom: 10px;
  }
}

.masters--media {
  align-items: center;
  background-color: #fff;
  border: 0.5px solid #cfcfcf;
  border-radius: 3px;
  height: 34px;
  padding: 7px 14px;
  position: relative;
  top: -25px;
  left: 72px;
  text-align: center;
  width: 120px;

  img {
    padding: 0 3px;
  }
}

.masters-imgs {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}