.masters-imgs {
  display: flex;
  gap: 30px;
}

.masters {
  margin: 100px 375px;

}

.masters-text {
  text-align: center;
  margin: 40px 179px;
  h2{
    color: #e27d60;
  }
}

.social-media-1 {
  align-items: center;
  background-color: #fff;
  border: 0.5px solid #cfcfcf;
  border-radius: 3px;
  height: 34px;
  padding: 7px 14px;
  position: relative;
  top: -25px;
  left: 72px;
  text-align: center;
  width: 120px;
  img {
    padding: 0 3px;
  }
}

.name {
  margin: 10px 0;
}.masters {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.masters h4 {
  margin-top: 100px;
  margin-bottom: 10px;
}

.masters h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.masters p {
  margin: 0;
  font-size: 18px;
  color: #303030;
}

.social-media1 {
  background-color: white;
  position: absolute;
  width: 120px;
  height: 34px;
  left: 109px;
  top: 1561px;
  border-radius: 5px;
  align-content: center;
}

.social-media1 img {
  margin: 8px;
}

.social-media2 {
  background-color: white;
  position: absolute;
  width: 120px;
  height: 34px;
  left: 109px;
  top: 1561px;
  border-radius: 5px;
  align-content: center;
}

.social-media2 img {
  margin: 8px;
}

.social-media3 {
  background-color: white;
  position: absolute;
  width: 120px;
  height: 34px;
  left: 109px;
  top: 1561px;
  border-radius: 5px;
  align-content: center;
}

.social-media3 img {
  margin: 8px;
}

.social-media {
  background-color: white;
  position: absolute;
  width: 120px;
  height: 34px;
  border-radius: 5px;
  align-content: center;
}

.social-media img {
  margin: 8px;
}

.posit-box1 {
  left: 109px;
  top: 1561px;
}

.posit-box2 {
  top: 1561px;
  left: 431px;
}

.posit-box3 {
  top: 1561px;
  left: 727px;
}

.posit-box4 {
  top: 1561px;
  left: 1044px;
}

.posit-box5 {
  top: 2019px;
  left: 94px;
}

.posit-box6 {
  top: 2019px;
  left: 431px;
}

.posit-box7 {
  top: 2019px;
  left: 736px;
}

.posit-box8 {
  top: 2019px;
  left: 1045px;
}

.info {
  // position: absolute;
  width: 175px;
  // height: 24px;
  margin-bottom: 10px;
}

.info .name {
  font-size: 23px;
}

.name {
  font-weight: 700;
  font-size: 40px;
}

.posit-info1 {
  left: 67px;
  top: 1612px;
}

.posit-info2 {
  left: 423px;
  top: 1612px;
}

.posit-info3 {
  left: 729px;
  top: 1612px;
}

.posit-info4 {
  left: 1040px;
  top: 1612px;
}

.posit-info5 {
  left: 67px;
  top: 2062px;
}

.posit-info6 {
  left: 690px;
  top: 2062px;
}

.posit-info7 {
  left: 387px;
  top: 2062px;
}

.posit-info8 {
  left: 1000px;
  top: 2062px;
}