.box--flex {
  display: flex;
}

.cards__img {
  display: flex;
  gap: 70px;
  justify-content: center;
  margin: 70px 515px 100px;

  div {
    text-align: center;
  }

  p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin: 10px;
  }
}

.content__aside--gray {
  background: linear-gradient(to right, #e6e6e6 67%, #fff 32%);
  display: flex;
  height: 460px;
  padding: 60px 350px;
  margin-bottom: 100px;

  div {
    margin: 30px 100px 30px 25px;
    text-align: end;
  }

  img {
    height: 340px;
    width: auto;
  }
  h2 {
    color: #e27d60;
  }
}

.prices__box {
  text-align: center;

  h2 {
    color: #e27d60;
  }
}

.prices__list {
  display: flex;
  gap: 35px;
  justify-content: center;
  margin-bottom: 40px;

  p {
    text-align: left;
  }
}

.text--org {
  color: #e27d60;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.welcome__box--org {
  background: url(../images/backOrg.png);
  background-position: left 363px bottom 278px;
  background-repeat: no-repeat;
  background-size: contain;
}

.welcome__aside {
  margin: 210px 425px 100px 100px;

  h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 48px;
    font-weight: 700;
  }

  p {
    color: #303030;
    margin-bottom: 35px;
  }
}