.treatment--container {
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    font-style: bold;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #e27d60;
  }

  h4 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  img {
    width: 291px;
    height: 292px;
  }

}

.treatments--text__container {
  position: relative;
  top: -58px;
  left: -423px;
}

.treatments--text__styles {
  display: flex;
  align-items: center;
  width: 151px;
  height: 24px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;

  p {
    margin-right: 189px;
  }
}