.visit {
  background: linear-gradient(to right, #fff 32.1%, #e6e6e6 0%);
  display: flex;
  height: 460px;
  padding: 60px 350px;
  div {
    margin: 30px 25px 30px 100px;
    text-align: start;
  }
  img {
    height: 340px;
    width: auto;
  }
  h2 {
    color: #e27d60;
  }
}