body {
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.general-container {
  max-width: 1920px;
  margin: 0 auto;
}

@import "variables";
@import "latest";
@import "relax";
@import "discount";
@import "footer";
























