* {
  box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

@import "reusable";
@import "forms";
@import "header";
@import "reception";
@import "fonts";
@import "masters";
@import "treatments";
@import "healthy";
@import "visit";

//triumph your fitness/ /

h4 {
  color: #303030;
  font-size: 16px;
}


//show boton// 
.show-boton {
  color: #fff;
  background-color: #303030;
  color: #e6e6e6;  
  padding: 13px 35px;
}

h2 {
  color: #E27D60;
  font-size: 36px;
  font-style: bold;
}

h4 {
  color: #303030;
  font-size: 16px;
}

.triumph {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 1545px;
  height: 510px;
}

.image-tri {
  width: 285px;
  height: 370px;
}

.half-grey {
  background-color: #E6E6E6;
}

.half-grey p {
  color: #303030;
}


.information {
  margin-left: 100px;
}

/*show boton*/

.show-boton {
  color: white;
  background-color: #303030;

  border-color: #303030;
  padding: 10px 36px;
  border-radius: 5px;
  border-top: 40px;
}

.about-us {
  width: 1545px;
  height: 144px;
  position: relative;
  left: 375px;
}

.about-us h2 {
  position: absolute;
  top: 30px;
  left: 502px;
}

.about-us h4 {
  position: absolute;
  top: 30px;
  left: 530px;
  font-size: 12px;
}

.our-story {
  width: 1260px;
  height: 460px;
  margin-top: 100px;
}

.info-story h4 {
  position: absolute;
  top: 350px;
  left: 750px;
}

.info-story h2 {
  position: absolute;
  top: 370px;
  left: 530px;
}

.info-story p {
  position: absolute;
  top: 450px;
  left: 400px;
}

.info-story img {
  width: 570px;
  height: 340px;
  position: absolute;
  top: 310px;
  left: 1000px;
}

//Steph
body {
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.general-container {
  max-width: 1920px;
  margin: 0 auto;
}

@import "variables";
@import "latest";
@import "relax";
@import "discount";
@import "footer";

//Adrian
/*Service*/
@mixin org-title {
  position: relative;
  color: #e27d60;
  font-family: 'Libre Franklin';
  font-size: 36px;
}

.service-gray-container {
  background-color: #e6e6e6;
  height: 144px;
  margin-bottom: 100px;
  margin-left: 378px;
  max-width: 100%;
  text-align: center;
  width: 1525px;
}

.services-title {
  left: -200px;;
  @include org-title
}

.services-link a {
  position: relative;
  left: -200px;
  top: 20px;
  font-size: 12px;
  color: #303030;
}

.service-gray-box {
  background-color: #e6e6e6;
  max-width: 60%;
  position: relative;
}

.service-gray-content {
  text-align: end;
  padding: 150px;
  width: 85%;
}

.services-img {
  position: absolute;
  top: 54px;
  right: -289px;
}

/*Articles*/
.article-title2 {
  margin-top: -10px;
  @include org-title
}

.latest-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.latest-container article {
  border-radius: 3px;
  border: 2px solid #e6e6e6;
  height: 420px;
  margin-left: 30px;
  position: relative;
  width: 370px;
}

.latest-container p {
  font-size: 10px;
  font-weight: 400;
}

.latest-container a {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
} 

.latest-container h3 {
  color: #e27d60;
  font-size: 20px;
}

.content-card {
  position: relative;
  margin-left: 28px;
}

/*Product*/
.product-org-nav {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #e27d60;
  height: 40px;
  margin-bottom: -350px;
  margin-top: -100px;
}

.product-org-nav a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  left: 600px;
  text-align: center;
}

.product-bottle {
  height: 570px;
  left: 383px;
  position: relative;
  top: 415px;
  width: 570px;
}

.product-section {
  color: #303030;
  font-size: 36px;
  font-weight: bold;
  left: 1045px;
  position: absolute;
  margin-top: -190px;
}

.product-rating {
  color: #303030;
  font-size: 14px;
  font-weight: bold;
}

.bestseller {
  background-color: #e27d60;
  color: white;
  padding: 20px;
  text-align: center;
}

.product-count {
  border: 2px solid #e6e6e6;
  width: 95px;
  padding:10px;
}

.product-description {
  position: absolute;
  width: 28%;
  margin-left: 1045px;
  margin-top: 260px;
  font-size: 16px;  
  color: #929292;
}

.btn-black {
  background-color: #303030;
  color: white;
  padding: 13px 36px;
  width: 530px;
  margin-top: 50px;
}

.social-apps {
  margin-top: 50px;
}

.product-text {
  width: 1170px;
  margin-top: 640px ;
  margin-bottom: 39px ;
}

.review-title {
  display: flex;
  justify-content: space-between;
  margin: 0 375px;
}

.section-review {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 375px;
}

.section-review-box {
  align-items: center;
  display: block;
  justify-content: space-between;
  width: 48%;
}

.caltification-text {
  border: 2px solid #e6e6e6;
  padding: 30px;
}

.calification-profile {
  display: flex;
}

.calification-profile-text {
  margin-right: 30px;
  margin-left: 20px;
}

.profile-org {
  color: #e27d60;
}

//Emanuel

$white-color: #fff;
$gray-color:#e6e6e6;
$gray-text-color: #303030;
$orange-color: #e27d60;
$orange-light-color: #E8A87C;


$libre-frankilin: 'Libre Franklin', sans-serif;
$Work-sans: 'Work Sans', sans-serif;


@mixin font-style($font-family, $font-weight, $font-size, $color){
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
}

.gray-text {
    @include font-style($Work-sans, 300, 16px, $gray-text-color);
    line-height: 19px;
}

.h3-orange-style {
    @include font-style($libre-frankilin, 700, 36px, $orange-color);
}

.normal-text {
    @include font-style($Work-sans, 400, 18px, $gray-text-color);
}

.one-col.carousel {
    text-align: center;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.our_reviws {
    background-color: $gray-color;
    .our_reviews_wrapper {
        width: 1170px;
        margin: 0 auto;
        padding: 100px 0;
        .two-col {
            display: flex;
            padding-bottom: 60px;
            .two-col_left {
                text-align: right;
                max-width: 570px;
                margin-right: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .gray-text,
                .h3-orange-style {
                    margin: 0;
                }
            }
        }
        .three-col {
            margin-bottom: 30px;
            .our_reviws-article {
                display: inline-block;
                &>p {
                    @include font-style($Work-sans, 400, 14px, $gray-text-color);
                    background-color: $white-color;
                    border-radius: 3px;
                    border: 2px solid $gray-color;
                    line-height: 16px;
                    margin: 0;
                    margin-bottom: 10px;
                    max-width: 370px;
                    padding: 30px;
                }
                .person {
                    display: flex;
                    img {
                        height: 50px;
                        margin-right: 20px;
                        width: 50px;
                    }
                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h6,
                        p {
                            margin: 0;
                        }
                        h6 {
                            @include font-style($libre-frankilin, 700, 14px, $orange-color);
                            line-height: 17px;
                        }
                        p {
                            @include font-style($Work-sans, 400, 12px, $gray-text-color);
                            line-height: 14px;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
}

.shop_section {
    max-width: 1170px;
    margin: 0 auto;
    padding: 100px 0;
    .shop_section-text {
        text-align: center;
        margin-bottom: 40px;
        .gray-text,
        .h3-orange-style,
        .normal-text-gray {
            margin: 0;
        }
        .h3-orange-style {
            margin-bottom: 20px;
        }
        .normal-text-gray {
            @include font-style($Work-sans, 400, 18px, $gray-text-color);
            line-height: 21px;
            margin: 0 auto;
            max-width: 830px;
            opacity: 0.5;
        }
    }
    .shop_section-articles {
        display: flex;
        gap: 30px;
        margin-bottom: 40px;
        .product {
            max-width: 270px;
            .product-user-options {
                background-color: $white-color;
                border-radius: 3px;
                border: 2px solid  rgba(48, 48, 48, 0.2);
                display: flex;
                justify-content: center;
                margin: 0 auto;
                max-width: 120px;
                position: relative;
                top: -20px;
              button {
                    border: none;
                    background-color: transparent;
                    padding: 7px 0;
                    img {
                        width: 20px;
                        height: auto;
                    }
                    &:first-child {
                        margin-right: 16px;
                    }
                }
            }
            .product-details {
                p {
                    @include font-style($Work-sans, 400, 10px, $gray-text-color);
                    line-height: 12px;
                    opacity: 0.5;
                    margin: 0;
                    margin-bottom: 10px;
                }
                h4 {
                    @include font-style($libre-frankilin, 700, 20px, $gray-text-color);
                    line-height: 24px;
                    margin: 0;
                    margin-bottom: 10px;
                }
                h5 {
                    @include font-style($libre-frankilin, 700, 16px, $orange-color);
                    line-height: 19px;
                    margin: 0;
                }
            }
        }
    }
}

.logos-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

    img {
        height: auto;
        width: 164px;
    }
}

.article-banner{
    width: 1545px;
    height: 144px;
    background: #E6E6E6;
    opacity: 0.5;
}
.article-content-2col{
    display: flex;
    gap: 30px;
}
.article-content-2col-img{
    width: 670px;
    height: 370px;
    border-radius: 3px 3px 0px 0px;
}
.article-content-2col-text{
    font-weight: 400;
    font-family: 'Work Sans';
    font-size: 18px;
    line-height: 21px;
    color: #303030;
}
.article-content-1col {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #303030;
    margin-bottom: 30px;
}
.article-content-2imgs img {
    width: 384px;
    height: 360px;
}
.article-content-article-text{
    box-sizing: border-box;
    width: 770px;
    height: 155px;
    background: #E8A87C;
    opacity: 0.2;
    border: 2px solid #E6E6E6;
    padding: 30px 100px;
    margin: 10px;
}
.article-content-article-info{
    display: flex;
}
.article-content-article-info img{
    width: 50px;
    height: 50px;
}
.article-content-article-info-user{
    font-family: 'Libre Franklin';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #E27D60;
}